body{
      font-family: "Lato", sans-serif;
}

.contentImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

.imageOnly img{
    width: 450px;
}
.track{
    font-size: 80px;
    font-weight: 800;
      font-family: "Oswald", sans-serif;
}
.featured{
    color:blue;
    background-color: rgba(37, 37, 99, 0.199);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
}
.smallbox{
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  height: 300px;

}
.smallbox img{
    width: 150px;
    text-align: center;
}
.subContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.getstarted{
    color: #fff;
    background-color: rgba(0, 0, 255, 0.733);
    padding: 20px 45px 20px 45px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
}
.every{
    color:rgba(0, 0, 255, 0.733) ;
}
.mix{
   font-family: "Oswald", sans-serif;
   font-size: 30px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 100px;
      font-family: "Oswald", sans-serif;
}

@media (max-width:700px){
.contentImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}
.imageOnly img{
    width: 300px;
}

}
